<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">My Cart</h5>
          </div>
          <div class="card-body" *ngFor="let cartproduct of cartresponse">
            <!-- Single item -->
            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                <!-- Image -->
                <div class="bg-image hover-overlay hover-zoom ripple rounded" style="height: 200px;"
                  data-mdb-ripple-color="light">
                  <img src="{{cartproduct.product.imageUrl}}" class="w-100 h-100" alt="Blue Jeans Jacket" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                  </a>
                </div>
                <!-- Image -->
              </div>

              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                <!-- Data -->
                <p><strong>{{cartproduct.product.productName}}</strong></p>
                <p>Product Type: {{cartproduct.product.productType.productSubType}}</p>
                <p>Category: {{cartproduct.product.productType.category.categoryType}}</p>
                <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                  title="Remove item" (click)="OnDelete(cartproduct.cartId)">
                  <i class="fa fa-trash"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                  title="Move to the wish list">
                  <i class="fa fa-heart"></i>
                </button>
                <!-- Data -->
              </div>

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">


                <!-- Price -->
                <p class="text-start text-md-center">
                  <strong>{{cartproduct.product.price | currency : 'INR'}}</strong>
                </p>
                <!-- Price -->
              </div>
            </div>
            <!-- Single item -->

            <hr class="my-4" />


          </div>
        </div>


      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Items({{totalItems}})
                <span>{{totalcost | currency : 'INR'}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Dilivery Charges
                <span class="text-success">Free</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Total amount</strong>
                  <!-- <strong>
                      <p class="mb-0">(including VAT)</p>
                    </strong> -->
                </div>
                <span><strong>{{totalcost | currency : 'INR'}}</strong></span>
              </li>
            </ul>

            <button *ngIf="totalItems > 0" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
              class="btn btn-primary btn-lg btn-block">
              Place Order
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Payment Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container p-0">
            <div class="paymentsuccess p-3 mb-2" *ngIf="paymentorder" style="color: green; border-radius: 3px; font-size: 20px; background-color: lightgreen;">
              <i class="fa fa-check-circle"></i><span> Payment Successful</span>            
            </div>
            <div class="card px-4">
              <p class="h8 py-3"><img style="height: 50px;" src="https://logosmarcas.net/wp-content/uploads/2020/04/PayPal-Logo.png" alt=""></p>
              <div class="row gx-3">
                <div class="col-12">
                  <div class="d-flex flex-column">
                    <p class="text mb-1">Person Name</p> <input class="form-control mb-3" type="text" placeholder="Name"
                      value="">
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex flex-column">
                    <p class="text mb-1">Card Number</p> <input class="form-control mb-3" type="text"
                      placeholder="1234 5678 435678">
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex flex-column">
                    <p class="text mb-1">Expiry</p> <input class="form-control mb-3" type="text" placeholder="MM/YYYY">
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex flex-column">
                    <p class="text mb-1">CVV/CVC</p> <input class="form-control mb-3 pt-2 " type="password"
                      placeholder="***">
                  </div>
                </div>
                <div class="col-12">
                  <div class="btn btn-primary mb-3" (click)="productIds()"> <span class="ps-3">Pay {{totalcost | currency : 'INR'}}</span> <span
                      class="fa fa-arrow-right"></span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
</section>